extends layout

block content
  h1= title
  p To get started:
  ul
   li Create a new user.
   li Update blood pressure for new user.
   li View daily blood pressure graph to track your blood pressure over time.

